# Server Port
PORT=3500

# Database Connection URL (configured for Docker setup by default)
DATABASE_URL="postgresql://postgres:postgres_password@localhost:35432/quiz_builder_db?schema=public"

# Frontend Origin URL (for CORS setup)
FRONTEND_URL="http://localhost:3501"
